.main-content{
  box-shadow: 3px 4px 8px 0px rgba(50, 50, 50, 0.20);
  font-size: 12px;
  background-color: #838383ef;
  color: #ffffff;
  font-size: 1rem;
}
/* .row-bg{
  background-image: url('../../images/record-patternSm.jpeg');
  background:  
  linear-gradient(to bottom right,
  #0a163a8d, 
  #2f1d20
  ),
     url('../../images/record-patternSm.jpeg');
  min-height: 35rem; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
} */
@media (max-width: 1250px){
  .card-group{
    display: table-row;
  }
}