.main-content{
  box-shadow: 3px 4px 8px 0px rgba(50, 50, 50, 0.20);
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.767);
  color: #02183a;
  font-size: 1rem;
}
.row-bg{
  background:  
  linear-gradient(to bottom right,
  #0a163abe, 
  #2f1d20
  ),
     url('../../images/record-patternSm.jpeg');
  min-height: 35rem; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
@media (max-width: 1250px){
  .card-group{
    display: table-row;
  }
}