.topPic{
  /* background: #0a2926; */
  background: #4b332f;
  background-image: url("../../images/black-orchid.png");
  color: #02183a;
  /* background-size: 100%; */
  height: 10rem;
}
.pic{
  height: 200px;
  width: 200px;
  border: 7px solid white;
  transition: .4s;
  position: relative;
  top: 3rem;
}
.nameText{
  position: relative;
  bottom: -2.75rem;
  font-size: 3rem;
   text-shadow:
  -1px -1px 0 rgb(255, 255, 255),  
   1px -1px 0 rgb(255, 255, 255),
   -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255);
}
.bodyText{
  padding-top: 5rem;
  font-size:1rem;
}
.portfolio-card-profile{
  background-color:  #2f3a4b;
  transition: .25s;
  margin-bottom: .5rem;
  border-radius: 5rem;
  font-size: .75rem;
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
  /* padding-bottom: 1rem; */
}
.pic-profile-map{
  height: 3rem ;
  width: 3rem;
}
.rmv{
  border-radius: 3rem;
  position: relative;
  top: 1rem;
  right: 1.5rem;
}
@media (max-width:1250px ){
  .pic{
    height: 100px;
    width: 100px;
    top: 6rem;
  }
.nameText{
  font-size: 1.75rem;
  bottom: -5.76rem;
  }
  .bodyText{
    padding-top: 2.5rem;
  }
}
@media (max-width:350px ){
  .nameText{
  font-size: 1.4rem;
  bottom: -5.76rem;
  }
  .rmv{
    font-size: .5rem;
    padding: .25rem;
  }
}