.topPic{
  background: #a99196;
  background-image: url("../../images/arabesque.png");
  /* background-size: 100%; */
  height: 10rem;
}
.pic{
  height: 200px;
  width: 200px;
  border: 7px solid white;
  transition: .4s;
  position: relative;
  top: 3rem;
}
.nameText{
  position: relative;
  bottom: -2.75rem;
  font-size: 3rem;
   text-shadow:
  -1px -1px 0 rgb(255, 255, 255),  
   1px -1px 0 rgb(255, 255, 255),
   -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255);
}
.bodyText{
  padding-top: 5rem;
  font-size:1rem;
}
@media (max-width:1250px ){
  .pic{
    height: 100px;
    width: 100px;
    top: 6rem;
  }
.nameText{
  font-size: 1.75rem;
  bottom: -5.76rem;
  }
  .bodyText{
    padding-top: 2.5rem;
  }
}
@media (max-width:350px ){
  .nameText{
  font-size: 1.4rem;
  bottom: -5.76rem;
  }
}