.dev{
  background-color: rgba(2, 24, 58, 0.897);
  z-index: 999;
  transition: .25s
}
.contact{
  transition: .2s;
  color: rgba(255, 255, 255, 0.931);
  background-color: rgba(2, 24, 58, 0.534);
}
.contact:hover{
  transition: .2s;
  color: rgba(35, 124, 154);
  background-color: rgba(2, 24, 58);
}
.btn-pos{
  position: fixed;
  top: 0rem;
  right: 1.5rem;
  z-index: 99999;
}
.contact:hover{
  /* cursor: pointer; */
  background-color: rgb(35,124,154);
  color: rgb(2, 24, 58);
  transform: scale(1.25);
}
.ctd-inputs{
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  color: white;
}
.ctd-inputs:focus{
  outline: none !important;
  border:1px solid #13a2b8;
  box-shadow: 0 0 10px #719ECE;
  background-color: rgba(255, 255, 255, 0.15);
}

