.feature-img{
  height: 5rem;
  width: 5rem;
}
.feature-card{
  border: none;
  background-color: #553e3eec;
  background:linear-gradient(to bottom right,
  #4b2f35, 
  #382428);
  padding: 1rem;
}
.feature-title{
  margin-top: 4rem;
}