/* .parallax1{
  background:  
    linear-gradient(to bottom right,
      #0a163abe, 
      #2f1d20
      ),
     url('../../images/pexels-photo-1128440.jpeg');
  min-height: 35rem; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.feature-img{
  height: 5rem;
  width: 5rem;
}
.feature-card{
  border: none;
  background-color: #553e3eec;
  background:linear-gradient(to bottom right,
  #162144, 
  #3f2126);
  padding: 1rem;
}
.feature-title{
  margin-top: 4rem;
}