.image2{
  border: 3px solid rgba(255, 255, 255, 0.514);
  transition: .25s;
  height: 2rem;
}
.image2:hover{
border: 3px solid rgba(3, 33, 43, 0.411);
}
.dropdown {
  background-color: #02183a;
  z-index: 20000000;
  padding: 20%
}
.login{
  background-color: #02183a;
}
.card{
  box-shadow: 3px 4px 8px 0px rgba(50, 50, 50, 0.20);
  font-size: 15px
}
.dashboard{
  background: #a99196;
  background-image: url("../../images/arabesque.png");
  /* background-size: 100% 100%; */
}
.portfolio-card{
  background-color:  #02183a93;
  transition: .25s;
  margin-bottom: -.5rem
}
.portfolio-card:hover{
  background-color:  #02183a;
  transition: .3s;
  z-index: 10;
  -webkit-transform: scale(1.125);
  -ms-transform: scale(1.125);
  transform: scale(1.125);
  background-color:  #02183a;
  box-shadow: 1px 0px 26px 0px rgba(50, 50, 50, 0.5);
}
.artist-name{
  font-weight: bold;
}
.linkage:hover{
  text-decoration: none;
}
.viewPortfolio{
  font-size: 1.25rem;
  text-shadow:
  -.25px -.25px 0 rgb(0, 0, 0),  
   .25px -.25px 0 rgb(0, 0, 0),
   -.25px .25px 0 rgb(0, 0, 0),
    .25px .25px 0 rgb(0, 0, 0);
}
@media (max-width:991px ){
  .buttons1,
  .buttons2{
    display: table-row;
    float: right;
  }
}