.image2{
  border: 3px solid rgba(255, 255, 255, 0.514);
  transition: .25s;
  height: 2rem;
}
.image2:hover{
border: 3px solid rgba(3, 33, 43, 0.411);
}
.dropdown {
  background-color: #02183a;
  z-index: 20000000;
  padding: 20%
}
.login{
  background-color: #02183a;
}
.card{
  box-shadow: 3px 4px 8px 0px rgba(50, 50, 50, 0.20);
  font-size: 15px
}
.dashboard{
  /* background: #237c9a */
  background-image: url("../Pages/abstract-design.jpg");
  background-size: 100% 100%;
}
.portfolio-card{
  background-color:  #02183a93;
}
.portfolio-card:hover{
  background-color:  #02183a;
  transition: .3s
}
.artist-name{
  font-weight: bold;
}
.linkage:hover{
  text-decoration: none;
}
.viewPortfolio{
  font-size: 1.25rem;
  text-shadow:
  -1px -1px 0 rgb(255, 255, 255),  
   1px -1px 0 rgb(255, 255, 255),
   -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255);
}
@media (max-width:991px ){
  .buttons1,
  .buttons2{
    display: table-row;
    float: right;
  }
}