.cardHeader{
    background-color: rgb(187, 187, 187);
  }
.cardBody{
    background-color: rgb(187, 187, 187);
  }
.input{
    border-color: #237c9a;
    box-shadow: 0 0  3px rgba(35,124,154, .25);
    color: white
  }
.card-mini{
    box-shadow: 3px 4px 8px 0px rgba(50, 50, 50, 0.20);
    border: 1px solid #b4b4b4d5;
    transition: .25s;
    /* border: none; */
  }
.card-mini:hover{
    border: 1px solid #13a2b8;
  }
.image{
    height: 125px;
    width: 125px;
    border: 7px solid white;
    transition: .4s;
  }
  .image:hover{
  border: 7px solid rgba(35,124,154, .25);
   
 } 
.blueText{
    color: #02183a;
    font-weight: bold
  }
@media (max-width: 1850px){
  .card-columns{
    column-count: 2
  }
}

@media (max-width: 1238px){
.card-columns{
  column-count: 1
}
.rounded-0{
  padding: 0px;
  margin: 0;
}
.card-body{
  padding: 5px;
  margin: 0;
}

}

@media (max-width: 400px){
  .image{
    height: 100px;
    width: 100px;
  }
  .investment,
  .percent,
  .links,
  .links2{
    display: none;
  }  

}