
.nav{
    /* background-color: #02183a; */
    background:  
    linear-gradient(
      #02183a91, 
      #02183a91
      ),
     url('../../images/boom.jpeg');
    /* box-shadow: 0px 1px 1px grey; */
    border-bottom: 8px solid #13a2b8;
    color: #237c9a;
    height: 20rem;
    width: 100%;
    background-position-y: 25rem;
    background-size: 115%;
    
  }
.button-nav{
  position: relative;
  display: inline;
  }
.register{
  /* border: 1px solid white; */
  background-color: rgba(255, 255, 255, 0.15);
  margin-right: 3rem;
  margin-top: 2rem;
  height: 10rem;
  width: 20rem;
  text-align: center;
  font-size: 2rem;
  color: white;
}
.invest{
  background-color: #237c9a;
  color: white;
  float: left;
  width: 50%;
  height: 59.75%;
  border-bottom-left-radius: .25rem;
}
.invest:hover{
  background-color: black;
  color: #237c9a;
  transition: .1s;
}
.artist{
  background-color: white;
  color: #237c9a;
  float: right;
  width: 50%;
  height: 59.75%;
  border-bottom-right-radius: .25rem;
}
.artist:hover{
  background-color: black;
  color: #237c9a;
  transition: .1s;
}
.reg-btn-txt{
  position: relative;
  top: 1.5rem;
}
.login-input{
    background-color: rgba(255, 255, 255, 0.15);

    border: none;
    color: white;
  }
 .input-icons{
    /* position: relative; */
    /* top: 10rem; */
    /* float: right; */
    /* left: 25rem; */
  }

 .login-input::placeholder{
    color: white;
  }
 .login-input:focus{
    outline: none !important;
    border:1px solid #13a2b8;
    box-shadow: 0 0 10px #719ECE;
  }
.input{
    border-color: #237c9a;
    box-shadow: 0 0 0 3px rgba(35,124,154, .25);
    color: white
  }
.input2{
    border-color: #237c9a;
    box-shadow: 0 0 0 3px rgba(35,124,154, .25);
  }
.infoDark{
    color: #027384
  }
.flash{
  animation-name: flash;
   animation-duration: 1.2s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-play-state: running;
}
.flash2{
  animation-name: flash;
   animation-duration: 1.0s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-play-state: running;
}
.nav-title{
  float: right
};

@keyframes flash {
   from {color: #027384;}
   to {color:#5bc0de;}
}

@keyframes flash2 {
  from {color:#5bc0de;}
  to {color: #027384;}
}

@media (max-width: 1600px){
  #search{
    display: none;
  }
  .nav-title{
    float: left;
  }
}
@media (max-width: 1150px){
.tr{
  display: table-row;
}
@media(max-width: 770px){
 .left-space{
display: none;
  }
}
}